#sfondo{
background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
background-size: cover;
}

.container{
  width: 1000px;
  margin: auto;

}

#head{
  margin-bottom: 10px;

}

#logo{
  color: white;
  font-size: 30px;
  padding-bottom: 50px;
}

#barra_nav{
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
}

#avviso{
  color: white;
}

#cerchio{
  background-color: orange;
  border-radius: 45px;
}

#riga1{
  background-color: lightgrey;
  border-bottom: 2px solid black;
  padding-top: 2px;
  padding-bottom: 2px;
}

#riga2{
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;

}

#textbold{
  font-weight: bolder;
}

#textgrey{
  color: grey;
}
